<script src="src/assets/js/script.js"></script>

<script src="https://kit.fontawesome.com/9220f8e6f3.js" crossorigin="anonymous"></script>


<div class="ful-img" id="fulImgBox">
     <img src="assets/img/marc01.jpg" id="fulImg" alt="">
     <span onclick="closeImg()">X</span>
</div>

<div class="img-gallery col-lg-6 col-md-6 col-sm-6">

     <img src="assets/img/marc01.jpg" alt="" width="370px" onclick="openFulImg(this.src)" class="py-3">
     <img src="assets/img/marc02.jpg" alt="" width="370px" onclick="openFulImg(this.src)" class="py-3">
     <img src="assets/img/marc03.jpg" alt="" width="370px" onclick="openFulImg(this.src)" class="py-3">
     <img src="assets/img/marc04.jpg" alt="" width="370px" onclick="openFulImg(this.src)" class="py-3">
     <img src="assets/img/marc05.jpg" alt="" width="370px" onclick="openFulImg(this.src)" class="py-3">
     <img src="assets/img/marc06.jpg" alt="" width="370px" onclick="openFulImg(this.src)" class="py-3">
     <img src="assets/img/marc07.jpg" alt="" width="370px" onclick="openFulImg(this.src)" class="py-3">
     <img src="assets/img/marc08.jpg" alt="" width="370px" onclick="openFulImg(this.src)" class="py-3">
     <img src="assets/img/marc09.jpg" alt="" width="370px" onclick="openFulImg(this.src)" class="py-3">
     <img src="assets/img/marc010.jpg" alt="" width="370px" onclick="openFulImg(this.src)" class="py-3">

</div>

<div class="fondo-footer">

    <div class="footer">

      <footer>
          <img src="assets/img/log1.png" alt="" width="130px">
          <h3>MINF</h3>
          <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, qui? Eius</p>
      </footer>

      <footer>
          <h3>Las empresas con más ventas</h3>
          <ul>
             <li>Nike</li>
             <li>Adidas</li>
             <li>Choco Chips</li>
             <li>Oreo</li>
          </ul>
      </footer>

      <footer>
          <h3>Visitanos en nuestras redes:</h3>
          <div class="redes">
              <a href=""><i class="ico fa-brands fa-youtube"></i></a>
              <a href=""><i class="ico fa-brands fa-facebook"></i></a>
              <a href=""><i class="ico fa-brands fa-instagram"></i></a>
          </div>
      </footer>

    </div>

</div>

<div class="fondo-pie">

   <div class="pie">
       <div class="cont-pie">
           <p>Todos los derechos reservados por MarcasInfinity.</p>
       </div>
   
   </div>

</div>
