

<div class="home">

    <img src="assets/img/marcas.jpg" alt="">

    <div class="homecont">
        <h1>Marcas infinitas</h1>
        <p>Agrege la marca de su negocio y nosotros expanderemos sus ventas.</p>
    </div>


</div>

<main>

    <h2>Nosotros</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, blanditiis unde iure veritatis officia numquam labore quisquam sapiente assumenda odit. Impedit ipsam atque iste distinctio placeat dicta nihil voluptatem enim!
    Expedita quis consequuntur amet quam sint autem vero vel eligendi dolores doloribus nisi obcaecati, molestiae quas molestias enim ab. Recusandae voluptates quaerat quisquam aliquam numquam cumque reprehenderit, odit enim nobis?</p>

    <img src="assets/img/ventas.jpg" alt="">

</main>

<div class="marcas-cono">

    <h2 class="title-marcas">Las marcas con más ventas</h2>

    <div class="ultimas-marcas">

        <aside>
            <img src="assets/img/hershey.png" alt="" class="img-marcas" name = "slider">
        </aside>

        <aside style="align-self: center; color: white;">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime eligendi ab totam impedit ex commodi quaerat dolorum voluptates, et ad, aut quis doloremque omnis quos assumenda, praesentium possimus placeat expedita?</p>
        </aside>

    </div>

</div>

<div class="galeria">

    <h2 class="text-galeria">Nuestra galeria</h2>

    <section>

        <article>
           <h4>Nuestra galeria</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti molestiae nostrum debitis eum cumque minus. Assumenda unde, voluptatem qui natus nemo impedit officia quasi tempora sequi quidem laborum, numquam vero.</p>
        </article>

        <article style="display: flex; align-items: center;">
            <a class="btn fa-solid fa-angle-left" onclick="atras()"></a>

           <img src="assets/img/marc01.jpg" class="img-gal" alt="" id="img">
            
           <a class="btn fa-solid fa-angle-right" onclick="adelante()"></a>
        </article>

    </section>

</div>

<div class="fondo-footer">

     <div class="footer">

       <footer>
           <img src="assets/img/log1.png" alt="" width="130px">
           <h3>MINF</h3>
           <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, qui? Eius</p>
       </footer>

       <footer>
           <h3>Las empresas con más ventas</h3>
           <ul>
              <li>Nike</li>
              <li>Adidas</li>
              <li>Choco Chips</li>
              <li>Oreo</li>
           </ul>
       </footer>

       <footer>
           <h3>Visitanos en nuestras redes:</h3>
           <div class="redes">
               <a href=""><i class="ico fa-brands fa-youtube"></i></a>
               <a href=""><i class="ico fa-brands fa-facebook"></i></a>
               <a href=""><i class="ico fa-brands fa-instagram"></i></a>
           </div>
       </footer>

     </div>

</div>

<div class="fondo-pie">

    <div class="pie">
        <div class="cont-pie">
            <p>Todos los derechos reservados por MarcasInfinity.</p>
        </div>
    
    </div>

</div>

<script src="src/assets/js/script.js"></script>

<script src="src/assets/js/gal.js"></script>

<script src="https://kit.fontawesome.com/9220f8e6f3.js" crossorigin="anonymous"></script>